<h2>Slug as url with Ember.js</h2>
    <p>Using slug as url currently only works form a link-to helper. It doesn't work if you visit the page directly.</p>
    {{#link-to 'event' 'ohs'}}Pages{{/link-to}}
    {{outlet}}
